APP_TOKEN = "123456"APP_IP = "183.216.226.43"APP_DEBUG = trueAUTH_HOSTNAME = "localhost"AUTH_PORT = "3306"AUTH_USERNAME = "root"AUTH_PASSWORD = "123456"AUTH_DATABASE = "acore_auth"CHARACTERS_HOSTNAME = "localhost"CHARACTERS_PORT = "3306"CHARACTERS_USERNAME = "root"CHARACTERS_PASSWORD = "123456"CHARACTERS_DATABASE = "acore_characters"WORLD_HOSTNAME = "localhost"WORLD_PORT = "3306"WORLD_USERNAME = "root"WORLD_PASSWORD = "123456"WORLD_DATABASE = "acore_world"SOAP_HOSTNAME = "localhost"SOAP_PORT = "7878"SOAP_USERNAME = "1"SOAP_PASSWORD = "1"